<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Y-stand</title>
    <div th:replace="~{common::head(title=~{::title/text()})}"></div>
    <link rel="stylesheet" th:href="@{/css/manageHome.css}" />
</head>
<body>
<div class="manage">
    <div th:replace="common::manageMenu(true)"></div>
    <div class="right">
        <div th:replace="common::topMenu"></div>

        <div class="right-content">
            <div class="card_content">
                <div class="add-content">
                    <div>视频内容</div>
                    <button class="add-button" onclick="openForm('iOrUForm')">添加</button>
                </div>
                <div class="specific-content">
                    <table class="tables" cellspacing="0">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户id</th>
                            <th>封面</th>
                            <th>标题</th>
                            <th>描述</th>
                            <th>链接</th>
                            <th>观看数</th>
                            <th>点赞数</th>
                            <th>硬币数</th>
                            <th>收藏数</th>
                            <th>评论数</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="video:${page.records}">
                            <th th:text="${video.id}"></th>
                            <th th:text="${video.userId}"></th>
                            <th>
                                <img class="table_images" width="200" height="130" th:src="${video.thumbnail}">
                            </th>
                            <th th:text="${video.title}"></th>
                            <th th:text="${video.description}"></th>
                            <th>
                                <video width="200" height="150" controls>
                                    <source th:src="${video.url}" type="video/mp4">
                                </video>
                            </th>
                            <th th:text="${video.viewCount} ?: '0'"></th>
                            <th th:text="${video.likeCount} ?: '0'"></th>
                            <th th:text="${video.coinCount} ?: '0'"></th>
                            <th th:text="${video.collectCount} ?: '0'"></th>
                            <th th:text="${video.commentCount} ?: '0'"></th>
                            <th th:text="${#temporals.format(video.createdAt,'yyy-MM-dd HH:mm')}"></th>
                            <th class="operate">
                                <a class="updatebtn icon-bianji iconfont" th:onclick="openFormUpdate(this.getAttribute('data-t_id'))"
                                   th:data-t_id="${video}" ></a>
                                <a class="deletebtn icon-shanchu iconfont" th:href="@{/deleteVideo(id=${video.id})}"></a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr class="hr" />

            <div th:replace="common :: pages(toVideo)"></div>
        </div>
    </div>
</div>

<div class="overlay" id="overlay" style="display: none"></div>
<div class="form-popup" id="iOrUForm" style="display: none">
    <div class="form-content">
        <span class="close" id="close-btn">&times;</span>
        <form th:action="@{/insertOrUpdateVideo}" th:object="${video}" method="post" enctype="multipart/form-data">
            <div class="form-group-all">
                <input class="form-input" style="display:none;" type="text" th:field="*{id}">
                <div class="form-group">
                    <div class="font-line">用&emsp;&emsp;户 ：</div>
                    <input class="form-input" type="text" placeholder="请输入用户id" th:field="*{userId}">
                </div>
                <div class="form-group">
                    <div class="font-line">标&emsp;&emsp;题 ：</div>
                    <input class="form-input" type="text" placeholder="请输入标题" name="password" th:field="*{title}">
                </div>
                <div class="form-group">
                    <div class="font-line">描&emsp;&emsp;述 ：</div>
                    <input class="form-input" type="text" placeholder="请输入描述" th:field="*{description}">
                </div>
                <div class="form-group form-video" >
                    <div class="form-group">
                        <div class="font-line">封&emsp;&emsp;面</div>
                        <!--                        先上传头像再回调-->
                        <img class="images" width="300px" height="300px" th:src="@{${filename}}" onclick="openFile_images()" id = "image">
                        <input type="file" name="file" accept="image/*" style="display: none;" th:field="*{images}">
                    </div>
                    <div class="form-group" onclick="openFile()">
                        <div class="font-line">视&emsp;&emsp;频</div>
                        <video width="300" height="300" controls id="videoPlayer" poster="/images/默认视频.png">
                            <source type="video/mp4" id = "videoSource">
                        </video>
                        <input type="file" name="file" style="display: none;" accept="video/*" onchange="loadVideo(this)" th:field="*{video}">
                    </div>
                </div>
            </div>
            <span th:text="${msg}" style="color:red" ></span><br/>
            <div class="btn-group">
                <button type="button" class="btn btn-light" onclick="clearForm()">清空</button>
                <button type="submit" class="btn btn-info" onclick="submitForm()">确定</button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{'/js/manageHome.js'}"></script>
<script th:src="@{'/js/manage/video_content.js'}"></script>
</body>
</html>